body{
    font-family: 'Open Sans Condensed', sans-serif;
}
.bg-image {
    background-image:url(./photos/bg-puppy.jpg)
}

.text-border {
    border-left: 10px;
    border-left-style: solid;
    border-left-color: teal;
    max-height: 7rem;
    padding-left: 2rem;

}

@media only screen and (min-width: 400px){
    .card-bleed{
        transform: translate(10px, 60px);
    }
}

